@font-face {
    font-family: 'American Typewriter';
    src: url('../fonts/font/AmericanTypewriter.woff2') format('woff2'),
        url('../fonts/font/AmericanTypewriter.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ';
    src: url('../fonts/font/ProximaNova-BlackIt.woff2') format('woff2'),
        url('../fonts/font/ProximaNova-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova ';
    src: url('../fonts/font/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/font/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/font/ProximaNova-BoldIt.woff2') format('woff2'),
        url('../fonts/font/ProximaNova-BoldIt.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/font/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/font/ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/font/ProximaNova-Extrabld.woff2') format('woff2'),
        url('../fonts/font/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/font/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/font/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova semi';
    src: url('../fonts/font/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/font/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/font/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/font/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova it';
    src: url('../fonts/font/ProximaNova-RegularIt.woff2') format('woff2'),
        url('../fonts/font/ProximaNova-RegularIt.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/font/ProximaNova-SemiboldIt.woff2') format('woff2'),
        url('../fonts/font/ProximaNova-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

